<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Apresentação - Atividade Integradora Específica II: Inovação e Tecnologias
      na Educação Física Escolar
    </title>

    <meta
      name="description"
      content="Apresentação da disciplina de template Escolar da UNIASSELVI"
    />
    <meta
      name="keywords"
      content="Trilha de aprendizagem, template Escolar, Uniasselvi, EAD, Ensino Superior, Ciências Humanas, Apresentação"
    />

    <link rel="icon" type="image/png" href="../img/favicon.png" />

    <noscript>
      <link
        rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      />
    </noscript>

    <link rel="stylesheet" href="../css/normalize.css" />
    <link rel="stylesheet" href="../css/var_humanas.css" />
    <link rel="stylesheet" href="../css/style.css" />
    <link rel="stylesheet" href="../css/background.css" />
    <link rel="stylesheet" href="./css/style.css" />

    <script defer src="../js/progressbar.min.js"></script>
    <script defer src="../js/main.js"></script>
    <script src="../js/lazysizes.min.js"></script>
    <script type="module" src="../../src/main.ts"></script>
  </head>
  <body>
    <main>
      <div class="content-text"></div>
    </main>
    <script type="module" src="/src/main.ts"></script>
  </body>
</html>
